<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Briteboard - 404</title>

  <link rel="stylesheet" type="text/css" href="/vendor/normalize.css" />
  <link rel="stylesheet" href="/styles/404.css" />
</head>

<body>

    <div class="container">
        <img src="/img/graph.png" alt="whiteboard 404 error"/>
        <h1>404 - Board Not Found</h1>
        <p>Sorry, we're drawing a blank!</p>
        <p><a href="/">Create a new board</a></p>
    </div>

</body>

</html>
