<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Briteboard - <%= board.name %></title>

  <link rel="stylesheet" type="text/css" href="/vendor/normalize.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/vendor/spectrum.css">
  <link rel="stylesheet" type="text/css" href="/styles/board.css" />

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js"></script> -->

</head>

<body>

<div class="main">
  <header class="nav-top">
    <a href="/">
      <div class="logo-wrapper">
        <div id="icon-outline"></div>
        <img src="../img/briteboard-logo.svg" class="navbar-logo-text" alt="Briteboard Logo Text" />
      </div>
    </a>

    <p id="template-id"><%= board.template %></p>

    <div style="display:flex; flex-direction: row;">
      <button id="url-to-clipboard" title="Copy URL to Clipboard"><i class="fas fa-link"></i></button>
      <button id="save-image" title="Save As Image"><i class="fas fa-save"></i></button>
      <button id="delete-board" title="Delete Board"><i class="fas fa-trash-alt"></i></button>
      <div class="tool-text" style="display:flex; flex-direction: column;">
        Canvas
        <input id="background-color-picker" title="Background Color" />
      </div>
    </div>

    <!-- <h2 style="color:#333; font-weight:400; display:inline;">&nbsp| <%= board.name %></h2> -->
    <div id="users"></div>

  </header>

  <div class="video">

    <div class="video-container">
      <video id="localVideo" autoplay muted></video>
      <div id="remoteVideos"></div>
    </div>

  </div>

  <div class="container">
    <div class="nav-left">

      <button id="select" title="Select/Move/Modify Tool (esc)"><i class="fas fa-mouse-pointer"></i></button>
      <button id="hand" title="Hand Tool"><i class="fas fa-arrows-alt"></i></button>
      <button id="draw" title="Free Drawing Tool"><i class="fas fa-pen"></i></button>
      <button id="line" title="Line Tool"><i class="fas fa-minus"></i></button>
      <button id="circle" title="Circle Tool"><i class="far fa-circle"></i></button>
      <button id="triangle" title="Triangle Tool"><i class="fa fa-caret-up" aria-hidden="true"></i></button>
      <button id="draw-rect" title="Rectangle Tool"><i class="far fa-square" aria-hidden="true"></i></button>
      <button id="textbox" title="Text Tool"><i class="fas fa-font"></i></button>
      <button id="delete" title="Erase Tool (del)"><i class="fas fa-eraser"></i></button>
      <button id="duplicate" title="Duplicate Selection (Cmd + C / Cmd + V)"><i class="far fa-copy"></i></button>
      <label for="add-image" class="custom-file-upload" title="Add Image"><i class="far fa-images"></i></label>
      <input id="add-image" type="file" />
      <p class="tool-text">Stroke</p>
      <input id="border-color-picker" title="Stroke Color" />
      <p class="tool-text">Fill</p>
      <input id="colorPicker" title="Fill Color"/>
      <p class="tool-text">Size</p>
      <label class="brush-size" title="Stroke Size">
        <input type="range" id="brush-size" value="2" min="1" max="10">
      </label>
      <p class="tool-text">Shadow</p>
      <label class="shadow-size" title="Shadow Size">
          <input type="range" id="shadow-size" value="0" min="0" max="10">
      </label>
      <!-- <label for="add-background" class="custom-file-upload" title="Add Background Image"><i class="far fa-images"></i></label> -->
      <!-- <input id="add-background" type="file" />   -->
    </div>

    <div class="board">
      <canvas id="whiteboard"></canvas>
    </div>
  </div>
</div>

  <script src="../vendor/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/simplewebrtc@3.0.2/out/simplewebrtc-with-adapter.bundle.min.js"></script>
  <script src="../vendor/socket.io.js"></script>
  <script src="../vendor/fabric.js"></script>
  <script src="../vendor/uuidv4.min.js"></script>
  <script src="../scripts/video.js"></script>
  <script src="../scripts/client.js"></script>
  <script src="../vendor/spectrum.js"></script>
  <script src="../vendor/filesaver.min.js"></script>

</body>

</html>
