<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Briteboard</title>

  <link rel="stylesheet" type="text/css" href="/vendor/normalize.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/vendor/spectrum.css">
  <link rel="stylesheet" type="text/css" href="/styles/board.css" />



</head>

<body>

<div class="main">
  <header class="nav-top">
    <h1><%= board.name %></h1>
    <!-- <h2><%= board.id %></h2> -->

    <div id="users"></div>

    <div class="video-container">
      <video id="video1" autoplay></video>
      <!-- <canvas id="canvas1" class="video"></canvas> -->
    </div>

  </header>

  <div class="container">
    <div class="nav-left">

      <button id="select" title="Select/Move/Modify Tool (esc)"><i class="fas fa-mouse-pointer"></i></button>
      <button id="hand" title="Hand Tool"><i class="fas fa-hand-paper"></i></button>
      <button id="draw" title="Free Drawing Tool"><i class="fas fa-pen"></i></button>
      <button id="line" title="Line Tool"><i class="fa fa-magic"></i></button>
      <button id="circle" title="Circle Tool"><i class="far fa-circle"></i></button>
      <button id="draw-rect" title="Rectangle Tool"><i class="far fa-square"></i></button>
      <button id="textbox" title="Text Tool"><i class="fas fa-font"></i></button>
      <button id="delete" title="Delete Tool (del)"><i class="fas fa-trash-alt"></i></button>
      <label for="add-image" class="custom-file-upload" title="Add Image"><i class="far fa-images"></i></label>
      <input id="add-image" type="file" />
      <button id="duplicate" title="Duplicate Selection (Cmd + C / Cmd + V)"><i class="far fa-copy"></i></button>
      <button id="small-brush">Sml</button>
      <button id="medium-brush">Med</button>
      <button id="large-brush">Lrg</button>
      <input id="colorPicker" />
      <label>
        <code>border</code>
        <input type="range" id="border-size" value="2" min="0" max="10" style="display: block">
      </label>
      <button id="save-image"><i class="fas fa-file-download"></i></button>
      <label for="add-background" class="custom-file-upload"><i class="far fa-images"></i></label>
      <input id="add-background" type="file" />
    </div>

    <div class="board">
      <canvas id="whiteboard"></canvas>
    </div>
  </div>
</div>

  <script src="../vendor/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
  <script src="../vendor/fabric.js"></script>
  <script src="../vendor/uuidv4.min.js"></script>
  <script src="../scripts/client.js"></script>
  // <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/0.3.16/peer.min.js"></script>
  <script src="../scripts/video.js"></script>
  <script src="../vendor/spectrum.js"></script>
  <script src="../vendor/filesaver.min.js"></script>

</body>

</html>
