 html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#error-icon {
  margin: 1em;
}

.main {
  background-color: #fdfdfd;
  border: 1px solid #aaa;
  border-radius: .5em;
  margin-bottom: 10%;
  text-align: center;
  z-index: 1;
  padding: 1em 3em;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

footer {
  margin: 0;
  opacity: .9;
  padding: 1em 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

