* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, .main{
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

button {
  padding: 10px 10px 10px 10px;
  color: #222;
  font-family: 'Arial', 'Sans Serif';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background: #eee;
  border-radius: 0;
  transition: all 0.1s ease-in;
  cursor: pointer;
  outline: 0;
  border: 0;
}

button:hover {
 background: #ddd;
}

.selected {
  background: #c0c7f3;
}

.selected:hover {
  background: #c0c7f3;
}

.fa-minus {
  transform: scaleY(1.5) scaleX(1.5) rotate(-45deg) ;
}

.fa-circle, .fa-square, .fa-font {
  font-weight: bold;
}

.fa-caret-up {
  transform: scaleY(2.9) scaleX(1.8);
}

.nav-top {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding: .5em;
  border-bottom: 1px solid #aaa;
}

.container {
  display: flex;
  justify-content: left;
  height: 100%;
  width: 100%;
}

.nav-left {
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  width: 55px;
  position: fixed;
  border: 1px solid #aaa;
  top: 80px;
  left: 10px;
  z-index: 2;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.tool-text {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 800;
  background-color: #eee;
  text-align: center;
}

.logo-wrapper {
  height:45px;
}

.navbar-logo {
  padding-left: 10px;
  height: 45px;
}

.navbar-icon {
  padding-left: 10px;
  height: 38px;
  width: 55px;
}

.navbar-logo-text {
  height: 35px;
  padding-bottom: 3px;
}

.logo-wrapper{
  display:flex;
  align-items:center;
}

.logo-wrapper #icon-outline {
  margin:0 auto;
  width:45px;
  height:38px;
  transition: background-image .5s ease-in-out;
  background-image:url(../img/logo-outline.svg);
  background-size: 45px 38px;
  /*background-color: black;*/
}

.logo-wrapper:hover #icon-outline {
  background-image:url("../img/logo.svg");
  background-size: 45px 38px;
}

.main {
  background-color: white;
  height: 100%;
  width: 100%;
}

#whiteboard {
  display: inline-block;
  align-items: center;
}

#template-id {
  display: none;
}

.video-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.video {
  display: flex;
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 3;
}

#remote-videos {
  display: flex;
  flex-direction: column;
}

video {
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  margin-bottom: .35em;
  height: 60px;
  width: 80px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
  padding: 10px 10px 10px 10px;
  color: #222;
  font-family: 'Arial', 'Sans Serif';
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background: #eee;
  border-radius: 0;
  transition: all 0.1s ease-in;
  cursor: pointer;
  outline: 0;
  border: 0;
}

.custom-file-upload:hover {
 background: #ddd;
}

label.brush-size {
  background-color: #eee;
  padding: 5px 5px 0;
}

#brush-size {
  display: block;
  width: 100%;
}

/* USERNAME INPUT POPUP */

#username-form {
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:100;
  position:fixed;
}

.username-box {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: .25em;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  padding: 25px 50px;;
  width: 400px;
  margin-bottom: 10%;
}

.username-box p {
  font-weight: 800;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 25px;
  text-align: center;
}

.username-box button {
  display: inline-block;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  transition: background 200ms ease-in;
  cursor: pointer;
}

.username-box button {
  background: #7f8ff4;
  color: #fff;
  border-radius: 2px;
  padding: 12px 20px;
}

.username-box button:hover {
  background: #6c7ff2;
}

.username-box button:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.username-box input {
  padding: 50px 10px 25px;
  width: 225px;
  background: #fff;
  color: #222;
  border: 1px solid #6f6f6f;
  outline: 0;
  padding: 10px 15px;
}

.username-box input::placeholder {
  color: #a3a3a3;
}

.user-name {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: .75em 0 .75em 0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  color: #222;
  padding: 5px 10px;
  margin: 0 .25em;
}

.user-cursor {
  position: fixed;
  border: 1px solid #aaa;
  background-color: #eee;
  border-radius: 0 .75em .75em .75em;
  color: #222;
  padding: 5px 10px;
  top: 216px;
  left: 310px;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .username-box input {
    width: 100%
  }

  .username-box button {
    width: 100%
  }
}
