body {
  padding-top: 54px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}


.jumbotron {
  padding: 0;
  color: inherit;
  background-color: #eee;
  height: 500px;
  overflow: hidden;
  position: relative;
  z-index: -2;
}

#video-background {
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
}

.home-content {
  position: relative;
  margin-top: 50px;
}


.my-4 {
  margin-top: 0 !important;
}

.homepage-main {

}

.homepage-main h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.9em;
  margin: 1em 0;
}

.homepage-main h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.4em;
  margin: 1em 0;
}

.homepage-main .product-description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  max-width: 600px;
  margin: 10px auto 50px;
}

/* TEMPLATES SECTION */

.templates-area {

}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 100ms;
}

.selected-card {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.16), 0 0px 4px 4px rgba(126, 143, 244, 0.81);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}
.card-img-top {
  border-radius: 0;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  /* border-radius: 2px 2px 0 0; */
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}


/* Old Homepage input */
/*
input.new-board {
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  transition: box-shadow 0.4s ease;
} */



/* CREATE NEW BOARD INPUT */

input.new-board:focus {
  box-shadow: inset 0 -7px 0 0 skyblue;
}

button.new-board {

}

div.new-board {
  /* background-color: #eee; */
}

/*  CREATE NEW BOARD FORM */
input.new-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 10px 25px;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: background 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: #7f8ff4;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 12px 30px;
}

.btn--primary:hover {
  background: #6c7ff2;
}

.btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--inside {
  margin-left: -130px;
  margin-bottom: 3px;
}

.form__field-new {
  width: 360px;
  background: #fff;
  color: #222;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #6f6f6f;
  outline: 0;
  padding: 18px 18px;
}

.form__field-new::placeholder {
  color: #a3a3a3;
}

.template-input {
  display: none;
}


/*  FOOTER */

footer {
  margin-top: 1em;
  padding: 1em 1em;
}


/*  MEDIA QUERIES */

@media (min-width: 576px) {
  .jumbotron {

  }
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

@media (max-width: 480px) {
  .jumbotron {
    height: 600px;
  }
  .homepage-main .product-description {
    margin-bottom: 30px;
  }
  .form__field-new {
    width: 100%;
  }
  .btn--inside {
    margin-left: 0;
    margin-bottom: 0;
  }
  .btn--primary {
    border-radius: 0;
    padding: 15px 36px;
  }
  .btn {
    width: 100%;
  }
}
