* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
}

button{
  padding: 10px 10px 10px 10px;
  color: white;
  font-family: arial;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: #FF4136;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  outline: 0;
}

button:hover{
 background: #E03A3A;
}

.selected {
  background: #85144b;
}

.nav-top {
  align-items: center;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

.container {
  display: flex;
  justify-content: left;
  height: 100%;
  width: 100%;
}

.nav-left {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding: 10px;
  height: 100%;
  width: 100px;
}

.main {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
}

#whiteboard {
  display: inline-block;
  align-items: center;
  max-width: 900px;
}

.video-container {
  background-color: black;
  display: flex;
  height: 100%;
}

video, .video {
  background-color: white;
  border-radius: 1em;
  height: 60px;
  width: 85px;
}

