* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  width: 100%;
}

.nav-top {
  background-color: grey;
  display: flex;
  /*align-items: center;*/
  height: 100px;
  width: 100%;
}

button{
  padding: 10px 10px 10px 10px;
  color: white;
  font-family: arial;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  background: #FF4136;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
button:hover{
 background: #E03A3A;
}
.selected {
  background: #85144b;
}s
.nav-top h1 {
  /*line-height: 100px;*/
}

.container {
/*  align-items: center;*/
  display: flex;
  justify-content: left;
  height: 100%;
  width: 100%;
}

.nav-left {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding: 10px;
  height: 100%;
  width: 100px;
}

.main {
  background-color: white;
  height: 100%;
  width: 100%;
}

#whiteboard {
  display: inline-block;
  align-items: center;
  max-width: 900px;
}

.nav-left, #whiteboard {
  border: solid black 1px;
}
